USE [master]
GO
/****** Object:  Database [Event_Management]    Script Date: 25-04-2024 06:38:46 PM ******/
CREATE DATABASE [Event_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Event_Management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Event_Management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Event_Management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Event_Management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Event_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Event_Management]
GO
/****** Object:  Table [dbo].[TBL_admin]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_admin](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EmailId] [nvarchar](230) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[MobileNumber] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Event]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Event](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](max) NOT NULL,
	[EventStartDate] [date] NOT NULL,
	[EventEndDate] [date] NOT NULL,
	[AddDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[EventImage] [text] NULL,
 CONSTRAINT [PK_TBL_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EventActivity]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EventActivity](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Event_Id] [bigint] NOT NULL,
	[EventActivityName] [nvarchar](max) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[AddDate] [date] NOT NULL,
	[isActive] [bit] NOT NULL,
	[Price] [bigint] NULL,
 CONSTRAINT [PK_TBL_EventActivity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_User]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[EmailId] [nvarchar](230) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[MobileNumber] [bigint] NOT NULL,
 CONSTRAINT [PK_TBL_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_admin] ON 

INSERT [dbo].[TBL_admin] ([Id], [Name], [EmailId], [Password], [MobileNumber]) VALUES (1, N'darshan', N'darshan01@gmail.com', N'Darshan@123', 9510484425)
SET IDENTITY_INSERT [dbo].[TBL_admin] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Event] ON 

INSERT [dbo].[TBL_Event] ([Id], [EventName], [EventStartDate], [EventEndDate], [AddDate], [IsActive], [EventImage]) VALUES (12, N'Ramnavmi', CAST(N'2024-04-27' AS Date), CAST(N'2024-04-27' AS Date), CAST(N'2024-04-10T21:49:00.343' AS DateTime), 1, N'C:\Users\Priya Sutariya\Desktop\Darshan Vaghani\Week 10\Event Management\Expenses Management\image\img_11-04-2024 01-19-03 PM.jpg')
INSERT [dbo].[TBL_Event] ([Id], [EventName], [EventStartDate], [EventEndDate], [AddDate], [IsActive], [EventImage]) VALUES (13, N'Holi', CAST(N'2024-04-21' AS Date), CAST(N'2024-04-21' AS Date), CAST(N'2024-04-10T08:07:04.803' AS DateTime), 1, N'C:\Users\Priya Sutariya\Desktop\Darshan Vaghani\Week 10\Event Management\Expenses Management\image\img_11-04-2024 01-51-24 PM.jpg')
INSERT [dbo].[TBL_Event] ([Id], [EventName], [EventStartDate], [EventEndDate], [AddDate], [IsActive], [EventImage]) VALUES (14, N'dhuleti', CAST(N'2024-04-28' AS Date), CAST(N'2024-04-29' AS Date), CAST(N'2024-04-09T18:25:09.267' AS DateTime), 1, N'C:\Users\Priya Sutariya\Desktop\Darshan Vaghani\Week 10\Event Management\Expenses Management\image\img_11-04-2024 02-26-33 PM.jpg')
SET IDENTITY_INSERT [dbo].[TBL_Event] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_EventActivity] ON 

INSERT [dbo].[TBL_EventActivity] ([Id], [Event_Id], [EventActivityName], [StartDate], [EndDate], [AddDate], [isActive], [Price]) VALUES (1, 12, N'visiting temples', CAST(N'2024-04-27T18:00:00.000' AS DateTime), CAST(N'2024-04-27T08:00:00.000' AS DateTime), CAST(N'2024-04-11' AS Date), 1, 500)
INSERT [dbo].[TBL_EventActivity] ([Id], [Event_Id], [EventActivityName], [StartDate], [EndDate], [AddDate], [isActive], [Price]) VALUES (2, 12, N'Reading the Ramayana', CAST(N'2024-04-27T09:00:00.000' AS DateTime), CAST(N'2024-04-27T10:00:00.000' AS DateTime), CAST(N'2024-04-11' AS Date), 1, 200)
INSERT [dbo].[TBL_EventActivity] ([Id], [Event_Id], [EventActivityName], [StartDate], [EndDate], [AddDate], [isActive], [Price]) VALUES (3, 12, N'singing bhajans or kirtans', CAST(N'2024-04-27T18:00:00.000' AS DateTime), CAST(N'2024-04-27T22:00:00.000' AS DateTime), CAST(N'2024-04-11' AS Date), 1, 100)
SET IDENTITY_INSERT [dbo].[TBL_EventActivity] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_User] ON 

INSERT [dbo].[TBL_User] ([Id], [Name], [EmailId], [Password], [MobileNumber]) VALUES (1, N'darshan', N'darshan0@gmail.com', N'Darshan@123', 9510484425)
INSERT [dbo].[TBL_User] ([Id], [Name], [EmailId], [Password], [MobileNumber]) VALUES (2, N'darshan', N'darshan01@gmail.com', N'Darshan@123', 9510484425)
INSERT [dbo].[TBL_User] ([Id], [Name], [EmailId], [Password], [MobileNumber]) VALUES (3, N'Darshan', N'darshan58@gmail.com', N'Darshan@123', 9510484425)
SET IDENTITY_INSERT [dbo].[TBL_User] OFF
GO
ALTER TABLE [dbo].[TBL_EventActivity]  WITH CHECK ADD  CONSTRAINT [FK_TBL_EventActivity_TBL_Event] FOREIGN KEY([Event_Id])
REFERENCES [dbo].[TBL_Event] ([Id])
GO
ALTER TABLE [dbo].[TBL_EventActivity] CHECK CONSTRAINT [FK_TBL_EventActivity_TBL_Event]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActivityPrice]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<update the price of activity>
-- =============================================
CREATE PROC [dbo].[SP_ActivityPrice]
(@ActivityId bigint,
@Price bigint
)
AS
BEGIN
	--update the price of activity
	Update TBL_EventActivity SET Price=@Price,isActive=1 WHERE Id=@ActivityId
	SELECT 'Price Add Successfully' AS Response
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminLogIn]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<Admin Login validation>
-- =============================================
CREATE PROC [dbo].[SP_AdminLogIn]  -- 'darshan','darshan01@gmail.com','Darshan@123',9510484425
(@Name nvarchar(max),
@EmailId nvarchar(230),
@Password nvarchar(max))
AS
BEGIN
	-- Admin Login validation
	IF(EXISTS(SELECT 1 FROM TBL_admin WHERE Name=@Name AND EmailId=@EmailId AND Password=@Password))
	BEGIN
		SELECT 'Valid Admin' AS Response,Id From TBL_admin WHERE EmailId=@EmailId
	END
	ELSE
	BEGIN
		SELECT 'Invalid Admin' AS Response,0 as Id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminRegister]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<Registration for Admin>
-- =============================================
CREATE PROC [dbo].[SP_AdminRegister] -- 'darshan','darshan01@gmail.com','Darshan@123',9510484425
(@Name nvarchar(max),
@EmailId nvarchar(230),
@Password nvarchar(max),
@Mobile bigint)
AS
BEGIN
	--Registration for Admin
	IF(EXISTS(SELECT 1 FROM TBL_admin WHERE EmailId=@EmailId))
	BEGIN
		SELECT 'Admin Already Exist' AS Response
	END
	ELSE
	BEGIN
		INSERT INTO TBL_admin (Name,EmailId,Password,MobileNumber) VALUES (@Name,@EmailId,@Password,@Mobile)
		IF(EXISTS(SELECT 1 FROM TBL_admin WHERE EmailId=@EmailId))
		BEGIN
			SELECT 'Admin Register Successfully' AS Response
		END
		ELSE
		BEGIN
			SELECT 'Admin Not Register' AS Response
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AllEventwithActivity]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<Join the table and return the tables with Events and activity>
-- =============================================
CREATE PROC [dbo].[SP_AllEventwithActivity] --4
(@EventId bigint)
AS
BEGIN
	-- Join the table and return the tables with Events and activity	
	SELECT e.Id,e.EventName,e.EventStartDate,e.EventEndDate,e.EventImage,a.EventActivityName,a.StartDate,a.EndDate,a.Price,'All published Events' AS Response 
	FROM TBL_Event e LEFT JOIN TBL_EventActivity a ON e.Id=a.Event_Id WHERE e.IsActive=1 AND e.Id=@EventId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EventForAdmin]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <11-04-2024>
-- Description:	<elect the past Event and select the upcoming Event>
-- =============================================
CREATE PROC [dbo].[SP_EventForAdmin] --'upcoming'
(@flag nvarchar(10))
AS
BEGIN
	
	IF(@flag='past')
	BEGIN
		-- select the past Event
		SELECT TOP 11 EventName,EventStartDate,EventEndDate FROM TBL_Event WHERE IsActive=1 AND EventEndDate<=GETDATE()-1
	END
	IF(@flag='upcoming')
	BEGIN
		-- select the upcoming Event
		SELECT TOP 11 EventName,EventStartDate,EventEndDate FROM TBL_Event WHERE IsActive=1 AND EventEndDate>=GETDATE()-1 
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActiveEvents]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<select non publish events>
-- =============================================
CREATE PROC [dbo].[SP_GetActiveEvents] 
AS
BEGIN
	--select non publish events
	SELECT Id,EventName, 'All Non publish Event' AS Response FROM TBL_Event WHERE IsActive=0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetActivityOfEvent]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<Select Activity of given events id>
-- =============================================
CREATE PROC [dbo].[SP_GetActivityOfEvent]
(@EventId bigint
)
AS
BEGIN
	--Select Activity of given events id
	SELECT Id,EventActivityName AS ActivityName,'All Activity of Event' AS Response FROM TBL_EventActivity WHERE IsActive=0 AND Event_Id=@EventId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllEvent]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<select all published events>
-- =============================================
CREATE PROC [dbo].[SP_GetAllEvent]
AS
BEGIN
	--select all published events
	SELECT EventName,EventStartDate,EventEndDate,EventImage FROM TBL_Event WHERE isActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEventate]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<select start and end date of given event id>
-- =============================================
CREATE PROC [dbo].[SP_GetEventate]-- 1
(@EventId bigint)
AS
BEGIN
	--select start and end date of given event id
	SELECT CONVERT(nvarchar(30),EventStartDate, 120) as EventStartDate,CONVERT(nvarchar(30),EventEndDate, 120) as EventEndDate,'date'AS Response FROM TBL_Event WHERE Id=@EventId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertEvent]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<insert all data of event into table>
-- =============================================
CREATE PROC [dbo].[SP_InsertEvent]  --'Holi','2024-05-06','2024-09-08',''
(@EventName nvarchar(max),
@StartDate date,
@EndDate date,
@Image text NULL)
AS
BEGIN
	--insert all data of event into table
	INSERT INTO TBL_Event (EventName,EventStartDate,EventEndDate,EventImage,AddDate,IsActive) VALUES (@EventName,@StartDate,@EndDate,@Image,GETDATE(),0)
	SELECT TOP 1 Id,'Event Added Successfully' AS Response FROM TBL_Event WHERE EventName=@EventName AND EventStartDate=@StartDate AND EventEndDate=@EndDate ORDER BY Id DESC 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertEventActivity]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<insert all data of activity into table>
-- =============================================
CREATE PROC [dbo].[SP_InsertEventActivity]-- 'Holi','2024-05-06','2024-09-08',''
(@EventId bigint,
@ActivityName nvarchar(max),
@StartDate datetime,
@EndDate datetime)
AS
BEGIN
	--insert all data of activity into table
	INSERT INTO TBL_EventActivity (Event_Id,EventActivityName,StartDate,EndDate,AddDate,isActive) VALUES (@EventId,@ActivityName,@StartDate,@EndDate,GETDATE(),0)
	SELECT 'Activity Added Successfully' AS Response 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_monthViseData]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Darshan>
-- Create date: <24-04-2024>
-- Description:	<select all published event from the table>
-- =============================================
CREATE PROC [dbo].[SP_monthViseData] -- 'Month'
(@Flag varchar(10),
@monthfordata varchar(10))
AS
BEGIN
	IF(@Flag='Month')
	BEGIN
		select LEFT(DATENAME(MONTH,EventStartDate),20) AS MONTH,Count(Id) AS Total_Event,'All Month' AS Response From TBL_Event WHERE IsActive=1 GROUP BY LEFT(DATENAME(MONTH,EventStartDate),20)
	END
	IF(@Flag='MonthData')
	BEGIN
		SELECT Id,EventName,CONVERT(nvarchar(30),EventStartDate, 120) as EventStartDate,CONVERT(nvarchar(30),EventEndDate, 120) as EventEndDate,'All published Events' AS Response FROM TBL_Event WHERE LEFT(DATENAME(MONTH,EventStartDate),20) = @monthfordata AND IsActive=1
	END
	ELSE
	BEGIN
		SELECT 'Choose Valid Flag' AS Response
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PublishedEvent]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<select all published event from the table>
-- =============================================
CREATE PROC [dbo].[SP_PublishedEvent] 
AS
BEGIN
	--select all published event from the table
	SELECT Id,EventName,CONVERT(nvarchar(30),EventStartDate, 105) as EventStartDate,CONVERT(nvarchar(30),EventEndDate, 105) as EventEndDate ,CONVERT(nvarchar(30),AddDate, 120) as AddDate,'All published Events' AS Response 
	FROM TBL_Event 
	WHERE  IsActive=1 AND EventEndDate>=GETDATE()-1 
	ORDER BY AddDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PublishedEventCount]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <12-04-2024>
-- Description:	<count of all published event>
-- =============================================
CREATE PROC [dbo].[SP_PublishedEventCount]
AS
BEGIN
	-- count of all published event
	SELECT COUNT(Id) AS C FROM TBL_Event WHERE  IsActive=1 AND EventEndDate>=GETDATE()-1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PublishedEventForPagging]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Darshan>
-- Create date: <12-04-2024>
-- Description:	<select event for the specific page and skip the previous page event>
-- =============================================
CREATE PROC [dbo].[SP_PublishedEventForPagging] --3,7
(@page bigint,
@EventPerPage bigint
)
AS
BEGIN
	--select event for the specific page and skip the previous page event
	SELECT Id,EventName,CONVERT(nvarchar(30),EventStartDate, 120) as EventStartDate,CONVERT(nvarchar(30),EventEndDate, 120) as EventEndDate,'All published Events' AS Response FROM TBL_Event WHERE IsActive=1 AND EventEndDate>=GETDATE()-1
	ORDER BY EventStartDate
	OFFSET ((@page-1)*@EventPerPage) ROWS FETCH NEXT (@EventPerPage) ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PublishEvent]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <04-04-2024>
-- Description:	<publish the event>
-- =============================================
CREATE PROC [dbo].[SP_PublishEvent] 
(@EventId bigint)
AS
BEGIN
	--publish the event
	UPDATE TBL_Event SET IsActive=1 WHERE Id=@EventId
	SELECT 'Publish Successfully' AS Response
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserLogIn]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	<validation for user login>
-- =============================================
CREATE PROC [dbo].[SP_UserLogIn] --  'darshan','darshan0@gmail.com','Darshan@123'
(@Name nvarchar(max),
@EmailId nvarchar(230),
@Password nvarchar(max))
AS
BEGIN
	-- validation for user login
	IF(EXISTS(SELECT 1 FROM TBL_User WHERE Name=@Name AND EmailId=@EmailId AND Password=@Password))
	BEGIN
		SELECT 'Valid User' AS Response,Id From TBL_User WHERE EmailId=@EmailId
	END
	ELSE
	BEGIN
		SELECT 'Invalid User' AS Response,0 as Id
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UserRegister]    Script Date: 25-04-2024 06:38:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Darshan>
-- Create date: <03-04-2024>
-- Description:	< User registration>
-- =============================================
CREATE PROC [dbo].[SP_UserRegister] -- 'darshan','darshan0@gmail.com','Darshan@123',9510484425
(@Name nvarchar(max),
@EmailId nvarchar(230),
@Password nvarchar(max),
@Mobile bigint)
AS
BEGIN
	-- User registration
	IF(EXISTS(SELECT 1 FROM TBL_User WHERE EmailId=@EmailId))
	BEGIN
		SELECT Id,'User Already Exist' AS Response FROM TBL_User WHERE EmailId=@EmailId
	END
	ELSE
	BEGIN
		INSERT INTO TBL_User (Name,EmailId,Password,MobileNumber) VALUES (@Name,@EmailId,@Password,@Mobile)
		IF(EXISTS(SELECT 1 FROM TBL_User WHERE EmailId=@EmailId))
		BEGIN
			SELECT Id,'User Register Successfully' AS Response FROM TBL_User WHERE EmailId=@EmailId
		END
		ELSE
		BEGIN
			SELECT 0 AS Id, 'User Not Register' AS Response 
		END
	END
END
GO
USE [master]
GO
